body {
  background-color: slategrey;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 45px;
  margin-top: 15px;
}

#grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  text-align: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-items {
  height: 55px;
  width: 55px;
  border: 3px solid black;
  border-radius: 10px;
  touch-action: manipulation;
  display: table;
}

.grid-items:hover {
  cursor: pointer;
  opacity: .7;
  transform: rotate(5deg);
  border-radius: 50%;
}

.items {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}
